/* https://cssbud.com/css-generator/css-glow-generator/ */


.box-gold {
    background: black;
    max-width: 300px;
    margin:  auto;
    border: 3px solid white;
    box-shadow:0 0 10px gold,0 0 18px gold;
    padding: 65px;
    border-radius: 1000px;
}


/* https://cssbud.com/css-generator/css-glow-generator/ */
.box-purple {
    background: #202b38;
    max-width: 900px;
    margin:  auto;
    border: 3px solid whitesmoke;
   -webkit-box-shadow:0px 0px 42px 0px rgba(137,46,255,0.88);
   -moz-box-shadow: 0px 0px 42px 0px rgba(137,46,255,0.88);
    box-shadow: 0px 0px 42px 0px rgba(137,46,255,0.88);
    padding: 15px;
    border-radius: 12px;
}
/* realistic shadow */
.box-real {
    background: rgb(33, 34, 44);
    max-width: 350px;
    margin:  auto;
    border: 3px solid whitesmoke;
    box-shadow: -11px 9px 0px 0px rgba(71,27,119,0.84);
    -webkit-box-shadow: -11px 9px 0px 0px rgba(71,27,119,0.84);
    -moz-box-shadow: -11px 9px 0px 0px rgba(71,27,119,0.84);
    padding: 5px;
    border-radius: 12px;
}
.box-real-foot {
    background: #202b38;
    max-width: 100px;
    margin:  auto;
    border: 4px solid whitesmoke;
    box-shadow: -2px 9px 0px 0px rgba(71,27,119,0.84);
    -webkit-box-shadow: -2px 2px 0px 2px rgba(71,27,119,0.84);
    -moz-box-shadow: -2px 9px 0px 0px rgba(71,27,119,0.84);
    border-radius: 38px;
}

.box-flag-parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}
.box-flag-child-dutch {
    display: inline-block;
    background: #fff;
    max-width: 200px;
    margin:  auto;
    box-shadow: -11px 9px 0px 0px rgba(71,27,119,0.84);
    border-top: 40px solid #fb2323;
    border-bottom: 35px solid #5350ff;
    padding: 1rem 4rem;
    vertical-align: middle;
}
.box-flag-child-russian {
    display: inline-block;
    background: #5350ff;
    max-width: 200px;
    margin:  auto;
    box-shadow: -11px 9px 0px 0px rgba(71,27,119,0.84);
    border-top: 40px solid #fff;
    border-bottom: 40px solid #fb2323;
    padding: 1rem 4rem;
    vertical-align: middle;
}
