<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/css/dark.css" rel="stylesheet"/>
  <link href="/css/glow.css" rel="stylesheet"/>
  <link href="/css/boxes.css" rel="stylesheet"/>
	<!-- Meta tags -->
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="icon" href="{{ get_url(path="favicon.ico") }}">
{% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
{% endblock %}
	<!-- Math rendering -->
</script>
  {% if page.title %}
  <title>{{page.title}}</title>
  {% else %}
  <title>BLOG</title>
  {% endif %}
</head>

<body>
  <div class="box-purple">
<nav><center>
  <a href="/" <span class="glow-on-hover-nav">HOME</span></a>
  <a href="/about"<span class="glow-on-hover-nav">ABOUT</span></a>
  <a href="/contact"<span class="glow-on-hover-nav">CONTACT</span></a>
  <a href="/CAS"<span class="glow-on-hover-nav">CAS</span></a>
  <a href="/blog"<span class="glow-on-hover-nav">POSTS</span></a>
</center></nav>

 <hr>
  <section class="section"><div class="container">
      {% block content %} {% endblock %}
  </section>

<hr>

  </div>

  <br>
<br>

  <div class="box-real-foot">
    <footer><center>
      <h3>&copy <a href="https://slimtux.xyz"<span class="glow-on-hover">slimtux.xyz</span></a> copyright 2022-2024</h3>
    </center></footer>
  </div>
</body>
</html>
