<!DOCTYPE html>
<html lang="en">
<head>
	{% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
{% endblock %}
	<!-- Math rendering -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<meta charset="utf-8">
  {% if page.title %}
  <title>{{page.title}}</title>
  {% else %}
  <title>BLOG</title>
  {% endif %}
  <link href="/css/water.css" rel="stylesheet"/>
</head>

<body>
  <div class="box">

<nav><center>
      <a href="/">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/contact">CONTACT</a>
      <a href="/CAS">CAS</a>
      <a href="/blog">POSTS</a>
 </center> </nav>

 <hr>
  <section class="section"><div class="container">
      {% block content %} {% endblock %}
  </section>

<hr><link href="/css/glow.css" rel="stylesheet"/>
  <footer><center><h4>&copy <a href="https://slimtux.xyz"<span class="glow-on-hover">slimtux.xyz</span></a> copyright 2023-2024</h4></center></footer>
  </div>

</body>
</html>
